@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main :#F5631A; 
    --secondary : #FFE0AE;
    --third : #A2ABCE;
    --forth :#FFA303;
}
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}
  

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   

::-webkit-scrollbar-thumb {
    background: var(--main); 
    border-radius: 10px;
}


nav{
    height: 80px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--third) 3px solid;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color:var(--secondary);
}

#search-container{
    border: 2px var(--main) solid ; 
    border-radius: 30px;
    color: white;
    width: 41%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
}
#search-container > i{
    transform: rotate(-90deg);
    font-size: 1.3em;
}

.links-container , .links-hide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
}

.links-container a , .links-hide a{
    text-decoration: none;
    color: var(--main);
    padding: 7px 10px;
    font-size: 1.2em;
    font-weight: 600;
    transition: all ease 0.3s;
    border-radius: 5px;
}

.links-container a:hover , .links-hide a:hover{
    background-color: var(--main);
    color: white;
    transform: scale(1.1);
}
.links-hide{
    visibility: hidden;
}


section{
    padding:150px 50px;
    width: 100wh;
    min-height: 100vh;
    border-bottom: 4px solid var(--forth);
    background-color: #ffa303b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.detail-container{
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: var(--main);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    z-index: 1;
}
.img-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 10px;
}

.img-container img{
    border-radius: 10px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: all ease 0.3s;
}

.img-container h2{
    font-size: 2.4em;
    color: var(--secondary);
    font-weight: 500;
    text-align: center;
    border-bottom: var(--third) solid 2px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}
.fa-solid{
    color: white;
    font-size: 2.5em;
    cursor: pointer;
    transition: all ease 0.3s;
}
.social button{
    border: none;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 600;
    border-radius: 5px;
    transition: all ease 0.3s;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--main);
}

.social button:hover, .fa-solid:hover {
    transform: scale(1.1);
}

.ingredients , .instructions{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    width: 30%;
}

.ingredients ul , .instructions ul{
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.instructions ul{
    list-style:decimal;
}

.ingredients ul li, .instructions ul li{
    font-size: 1.1em;
    color: white;
    font-weight: 500;
}

.hide{
    overflow: hidden;
    transition: all ease 0.3s;
    height: 0px;
    background-color: var(--main);
    padding: 5px;
}

.comment-container{
    padding: 20px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all ease 0.3s;
}

.person{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
}
.information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.pdp-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.pdp-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.information h5 ,.information p{
    color:var(--main);
    font-weight: 600;
    font-size: 1.5em;
}
.information p{
    padding-left: 75%;
}

.comment{
    color: var(--main);
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 60px;
}
form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#text , #rating{
    margin-left: 20px;
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.5em;
}

#rating{
    width: 20%;
}


form >i{
    transform: rotate(-90deg);
    font-size: 2em;
    color:var(--secondary);
    cursor: pointer;
}
